*,
*:after,
*:before {
    box-sizing: border-box;
}

.darkmode-toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 100px;
    background-color: #000839;
    overflow: hidden;
    cursor: pointer;
}

.darkmode-toggle:before,
.darkmode-toggle:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    top: 4px;
    transition: .5s ease-out;
}

.darkmode-toggle:before {
    background-color: #ffa41b;
    left: -9px;
    transform: translateX(13px);
}

.darkmode-toggle:after {
    background-color: #000839;
    left: -12px;
    transform: scale(0.00001);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .darkmode-toggle:before {
    background-color: #FFF;
    transform: translateX(22px);
}

input[type="checkbox"]:checked + .darkmode-toggle:after {
    transform: translateX(20px) scale(1);
}

body.darkmode {
	background-color: #90A053;
	color: #fcedcc;
}
nav.darkmode {
	background-color: #738042;
}

.darkmode main,
.header_navigation .darkmode {
	background-color: #90A053;
}

.darkmode .section-news {
	background-color: #7D351D;
}

.darkmode .price {
	background-color: #e4d1a5;
	color: #7c2e14;
}

.darkmode .price-none {
	background-color: #e4d1a5;
	color: #7c2e14;
}

.darkmode .section-gif {
    background-color: #738042; 
    color: #ecdebd;
  }

.darkmode strong {
  color: #4F553A;
  font-weight: bold;
  }

  .darkmode .recomendations {
	background-color: #7D351D;
  }

 .darkmode .recomendations button {
	color:#7D351D;
 }