*,
*:after,
*:before {
	box-sizing: content-box;
}

.darkmode {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	border-radius: 100px;
	background-color: #000839;
	overflow: hidden;
	cursor: pointer;
	&:before,
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 12px;
		height: 12px;
		border-radius: 50px;
		top: 4px;
		left: -14px;
		transition: .5s ease-out;
	}
	&:before {
		background-color: #ffa41b;
		transform: translateX(17px);
	}

	&:after {
		background-color: #000839;
		left: -10px;
		transform: scale(0.00001);
	}
}

input[type="checkbox"] {
	display: none;
	&:checked + label {
		&:before {
			background-color: #FFF;
			transform: translateX(30px);
		}
		
		&:after {
			transform: translateX(20px) scale(1);
		}
	}
}
/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

nav.dark-mode {
    background-color: #333; /* Darker nav */
}