.container-footer {
  margin: 0px;
  padding: 5vh 5vh 0vh 5vh; 
}

/* Fundo */
.footer-section {
  background: #151414;
  position: relative;
  margin-top: -3rem;
}

.footer-content {
  position: relative;
  z-index: 2;
}

/* Desenho */
.footer-logo img {
  max-width: 200px;
}

/* Texto slogan */
.footer-text p {
  margin-bottom: 0.777rem; 
  font-size: 0.777rem; 
  color: #7e7e7e;
  line-height: 1rem; 
}

/* Links */
.footer-widget-heading h3 {
  color: #fff;
  font-size: 1.111rem; /* Alterado para usar 1.111rem */
  font-weight: 600;
  margin-bottom: 2.222rem; /* Alterado para usar 2.222rem */
  position: relative;
}

/* Linha separação */
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.833rem; /* Alterado para usar -0.833rem */
  height: 0.111rem; /* Alterado para usar 0.111rem */
  width: 3.333rem; /* Alterado para usar 3.333rem */
  background: #5c9450;
}

/* Opções links */
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 0.722rem; /* Alterado para usar 0.722rem */
}

/* Efeito cor links */
.footer-widget ul li a:hover{
  color: #5c9450;
}

/* Sem efeito cor links */
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
}

/* Botão email posição */
.subscribe-form {
  position: relative;
  overflow: hidden;
}

/* Email */
.subscribe-form input {
  width: 100%;
  padding: 14px 20px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  border-radius: 30px;
}

/* Botão email */
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #5c9450;
  padding: 0.555rem 0.555rem; /* Alterado para usar 0.555rem */
  border: 0.111rem solid #5c9450; /* Alterado para usar 0.111rem */
  top: 0;
  border-radius: 0px 30px 30px 0px; /* Alterado para usar 1.111rem */
}

/* Direitos reservados fundo */
.footer-section + .copyright {
  background: #202020;
  padding: 5vh 0; 
}

.container-copy {
  width: 100%;
  max-width: 100%; 
  height: 10vh; 
  margin: 0;
  padding: 2.5vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* Texto direitos reservados */
.container-copy .copyright-text p {
  margin: 0;
  font-size: 15px; 
  color: #878787;
}
