ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
  margin-bottom: 5px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #5c9450;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 13px;
}

.footer-widget ul li a:hover{
  color: #5c9450;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 20px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  border-radius: 30px;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #5c9450;
  padding: 10px 10px;
  border: 1px solid #5c9450;
  top: 0;
  border-radius: 0px 30px 30px 0px;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area{
  background: #202020;
  padding: 5px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}