@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #90A053;

    transition: background-color 0.5s ease;
}


/* .dark-mode {
    background-color: #2B3F1A; 
    color: #FFFCDA; 
} */


/* MENU DE NAVEGAÇÃO */
.header_navigation {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    border-radius: 100px;
    background-color: #738042;
    padding: 0px 100px 0px 160px;
}


.header_navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header_navigation ul li {
    margin-right: 20px;
}

.header_navigation ul li a:hover {
    color: #E7D5BD;
    font-size: 18px;
    transition: .3s ease;
}

.header_navigation ul li:last-child {
    margin-right: 0;
}

.header_navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.header_navigation img{
    width: 90px;
    justify-content: center;
}

.header_navigation .logo {
    flex: 1;
    text-align: center;
}


p {
    text-align: left;
    font-size: 70px;
}


h1 {
    text-align: center;
    font-size: 20px;
}


/* CAROUSEL */
.carousel {
    width: 1000px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
}




/* SESSÃO DE NOVIDADES */
.food {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 200px;
}

.food img {
    width: 200px; /* Defina o tamanho desejado */
    height: auto; /* Mantenha a proporção da imagem */
    margin: auto;
    border-radius: 30px;
}



.section-news {
    background-color: #FFC0CB; 
  }
  
  .recomendations {
    background-color: #ADD8E6; 
  }
  
  .most_views {
    background-color: #90EE90; 
  }