@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* O valor de 16 pixels é comumente usado como o tamanho base para a unidade "rem" em CSS. A unidade "rem" (root em) é 
relativa ao tamanho da fonte do elemento raiz do documento (normalmente o elemento <html>), e não ao tamanho da fonte 
do elemento em si. Isso significa que quando você define um tamanho em "rem", ele é calculado com base no tamanho da fonte 
do elemento raiz.

Então, quando usamos 16 pixels como base para "rem", significa que 1rem será igual a 16 pixels. Isso facilita os cálculos, 
especialmente quando você está projetando um site responsivo, pois pode facilmente ajustar o tamanho da fonte raiz para alterar 
proporcionalmente todos os elementos que usam "rem". */


body {
  font-family: 'Oswald', sans-serif;
  background-color: #F2E7CE;
  font-weight: 700;
  transition: background-color 0.5s ease;
}

/* MENU DE NAVEGAÇÃO */
.header_navigation {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  margin: 3.125rem; /* 50px / 16px */
  border-radius: 62.5rem; /* 1000px / 16px */
  background-color: #e4d1a5;
  padding: 0px 6.25rem 0px 10rem; /* 100px / 16px, 160px / 16px */
}

.header_navigation ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.125rem; /* 18px / 16px */
  transition: .3s ease;
}

.header_navigation ul li a:hover {
  color: #833920;
  font-size: 1.375rem; /* 22px / 16px */
  transition: .3s ease;
}

.header_navigation img{
  width: 5.625rem; /* 90px / 16px */
}

p {
  text-align: left;
  font-size: 4.375rem; /* 70px / 16px */
}


h1 {
  text-align: center;
  font-size: 1.875rem; /* 30px / 16px */
}


/* CAROUSEL */
.container {
  display: flex;
  padding: 3.125rem; /* 50px / 16px */
}

.text-home{
  padding: 1.25rem 1.875rem; /* 20px / 16px, 30px / 16px */
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.carousel {
  width: 50rem; /* 800px / 16px */
  border-radius: 3.75rem; /* 60px / 16px */
  overflow: hidden;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  border-radius: 3.75rem; /* 60px / 16px */
  height: auto;
}



/* SECTION NOVIDADES */
.section-news {
  background-color: #7e9c60; 
  width: 100%;
  height: 30rem; /* 480px / 16px */
  padding: 3.125rem 0px; /* 50px / 16px */
}
  
.subtitle {
  padding: 1.875rem 0px; /* 30px / 16px */
  font-size: 1.875rem; /* 30px / 16px */
}

.food {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 12.5rem; /* 200px / 16px */
}

.food img {
  width: 16.25rem; /* 260px / 16px */ 
  height: auto; 
  margin: auto;
  border-radius: 3.75rem; /* 60px / 16px */
  padding: 0px 0.625rem; /* 0px / 16px, 10px / 16px */
}

.food-item {
  text-align: center; 
  margin-bottom: 1.25rem; /* 20px / 16px */
  align-items: center;
}

.price {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 0.625rem; /* 10px / 16px */ 
  font-weight: bold; 
  background-color: #7D351D;
  color: #fce1bf;
  border-radius: 6.25rem; /* 100px / 16px */
  margin: 0.3125rem 6.25rem; /* 5px / 16px, 100px / 16px */
  padding: 0.9375rem; /* 15px / 16px */
}



  /* SECTION GIF */
  .culinaria {
    display: flex;
    padding: 6.25rem; /* 100px / 16px */
    margin: 0;
  }

  .section-gif {
    background-color: #F2E7CE; 
    color: #7D351D;
  }

  .section-gif img {
    height: auto;
    border-radius: 3.75rem; /* 60px / 16px */
    width: 25rem; /* 400px / 16px */
  }

  .section-gif p {
    font-size: 1.875rem; /* 30px / 16px */
    text-align: justify;
    font-weight: 28.125rem; /* 450 / 16px */
    line-height: 1.2;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 1.875rem; /* 20px / 16px, 30px / 16px */
    flex-direction: column;
    justify-content: center;
    margin: auto;
  } 



/* SECTION RECOMENDADOS PARA VOCÊ */
.recomendations {
  background-color: #70865a; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem; /* 800px / 16px */
}

.section-recomendations {
  text-align: center; 
}

.recomendado {
  display: flex;
  justify-content: center;
  margin: 1.25rem; /* 20px / 16px */
  padding: 0px 1.25rem; /* 0px / 16px, 20px / 16px */
}

.recomendado img {
  height: auto;
  border-radius: 1.875rem; /* 30px / 16px */
  width: 20.625rem; /* 330px / 16px */
  margin: 0 1.25rem; /* 0px / 16px, 20px / 16px */
}

.recomendations button {
  font-size: 1.25rem; /* 20px / 16px */
  background-color: #f2e7ce;
  color: #566149;
  width: 6.25rem; /* 100px / 16px */
  height: 2.5rem; /* 40px / 16px */
  font-weight: bold;
  border: none;
  margin-top: 1.25rem; /* 20px / 16px */
  border-radius: 1.875rem; /* 30px / 16px */
}

.recomendations button:hover {
  background-color: #f2e7ce;
  color: #7D351D;
  font-size: 1.375rem; /* 22px / 16px */
  width: 6.875rem; /* 110px / 16px */
  transition: .4s ease-in-out;
}




/* SECTION SOBRE NÓS */
.sobre-nos {
  display: flex;
  justify-content: center;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem; /* 20px / 16px */
  margin: 0 auto;
}

.about-text {
  text-align: center;
  align-self: center;
}

.about-text p {
  text-align: justify;
  font-size: 1.5rem; /* 24px / 16px */
  font-weight: 400;
  line-height: 1.2;
  padding: 0px 1.875rem; /* 0px / 16px, 30px / 16px */
}

.about-image {
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


strong {
  color: #b17507;
  }


/* FOOTER */
footer {
  background-color: rgb(30, 33, 36);
  color: #ffffff;
  display: flex;
  align-items: center;
}

.footer img {
  width: 15.625rem; /* 250px / 16px */
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.options h6 {
  margin: 0;
}



    @media (max-width: 768px) {
      .header_navigation {
        flex-direction: column;
        /* Alterando a direção do flexbox para empilhar itens verticalmente */
        padding: 25px;
        /* Reduzindo o padding para se ajustar em telas menores */
        margin: 30px;
        width: auto;
      }
  
      .header_navigation img {
        display: none;
      }
  
      /* CAROUSEL */
      .container {
        flex-direction: column;
        padding: 20px;
      }
  
      .text-home {
        padding: 20px 20px;
        flex-direction: column;
        justify-content: center;
        margin: auto;
      }
      .carousel-item {
        height: auto; /* Ajuste a altura conforme necessário */
        width: 98%;
    } 
}
      /* SECTION NOVIDADES */
        .food {
          flex-direction: column; /* Alterando a direção do flexbox para empilhar itens verticalmente */
          align-items: center; /* Alinhando os itens no centro */
          padding: 20px; /* Reduzindo o padding para telas menores */
      }
    
    